@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-weight: 300;
}

/*/////////////////////////////////////////////////////*/
/*Login Page*/
/*/////////////////////////////////////////////////////*/

.login-wrapper {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login-waves {
  background: repeating-linear-gradient( 45deg, #0000000e, #0000000e 5px, #0000ff00 5px, #0000ff00 25px );
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 50%;
  margin: auto auto;
  text-align: center;
  border-style: dashed;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login-title {
	font-size: 40px;
	transition-duration: 1s;
	transition-timing-function: ease-in-put;
	font-weight: 200;
	text-align: center;
	padding: 20px;
}

.login-form {
	padding: 10px 0;
	position: relative;
	z-index: 2;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.login-form button {
  display: block;
  appearance: none;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  color: #383838;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

.login-form button:hover {
  background-color: white;
}

.login-form button:focus {
	background-color: white;
	width: 300px;
}

.login-form input {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;

  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;

  color: white;

  transition-duration: 0.25s;
  font-weight: 300;
}

.login-form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.login-form input:focus {
  background-color: white;
  width: 300px;
  color: #383838;
}

.login-form input::placeholder{
  color: white;
}

/*/////////////////////////////////////////////////////*/
/*Chat Page*/
/*/////////////////////////////////////////////////////*/

.chat-bg {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  min-height: 100vh;
  position: relative;
}

.chat-waves {
  /* padding: 32px; */
  position:relative;
  min-width:100vw;
  min-height: 100vh;
  background: repeating-linear-gradient( 45deg, #0000000e, #0000000e 5px, #0000ff00 5px, #0000ff00 25px );
}

.chat-app {
  /* text-align: center; */
  max-width: 728px;
  margin: 0 auto;

  background: #0c0c0cab;
  border-radius: 10px;
}

.chat-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #0c0c0cab;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.chat-header button {
  background-color: #ffffff81; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 10px;
}

.sign-out {
  width: 40px;
  height: 40px;
  margin: 2px 5px;
}

.sign-out:hover {
  cursor: pointer;
}

.edit-profile {
  width: 40px;
  height: 40px;
  margin: 2px 5px;
}

.edit-profile:hover {
  cursor: pointer;
}

.chat-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  bottom:0;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.chat-form {
  height: 6vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

.chat-form button {
  width: 20%;
  background-color: rgba(255, 255, 255, 0.377);
  border-bottom-right-radius: 10px;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

.chat-form input {
  border-bottom-left-radius: 10px;
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: #0c0c0cab;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

.chat-form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*/////////////////////////////////////////////////////*/
/*Chat Message*/
/*/////////////////////////////////////////////////////*/

.message-group {
  min-width: none;
  overflow-wrap:break-word;
}

.message-group .sent{
  text-align: right;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.displayName p{
  text-align: right;
  display: block;
}

.message-body {
  text-align: left;
  display: block;
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 5px 10px;
  border-radius: 25px;
  position: relative;
  display: block;
}

.received .message-body {
  background: #ffffff;
  color: black;
}

.sent .message-body {
  background: #00ccff;
  color: black;
  text-align: center;
}

.sent .displayName {
  text-align: right;
}

.received .displayName {

}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

/*/////////////////////////////////////////////////////*/
/*Login Page Animations*/
/*/////////////////////////////////////////////////////*/

.bg-bubbles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: -1;
}

.bg-bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.15);
	bottom: -160px;

	-webkit-animation: square 25s infinite;
	animation: square 25s infinite;

	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;

	
}

.square1{
	left: 10%;
}

.bg-bubbles li:nth-child(2) {
	left: 20%;

	width: 80px;
	height: 80px;

	animation-delay: 2s;
	animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
	left: 25%;
	animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;

	animation-duration: 22s;

	background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
	left: 70%;
}

.bg-bubbles li:nth-child(6) {
	left: 80%;
	width: 120px;
	height: 120px;

	animation-delay: 3s;
	background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
	left: 32%;
	width: 160px;
	height: 160px;

	animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
	left: 55%;
	width: 20px;
	height: 20px;

	animation-delay: 15s;
	animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
	left: 25%;
	width: 10px;
	height: 10px;

	animation-delay: 2s;
	animation-duration: 40s;
	background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
	left: 90%;
	width: 160px;
	height: 160px;

	animation-delay: 11s;
}

@-webkit-keyframes square {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-1200px) rotate(600deg);
	}
}
@keyframes square {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-1200px) rotate(600deg);
	}
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}





















/* body {
  background-color: #282c34;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}




ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
} */